<style>
    .maincontainer{
    background:#b2bec3;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .box{
 width:auto;
 height:auto;
 background:#fff;
 border-radius:15px;
 padding:15px
}
.headerstyle{
font-size:18;
font-weight:bold;
letter-spacing:1px;
padding-top:5px;
padding-left:15px;
}
.genderstyle{
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
.buttonstyle{
width:100%;
}
</style>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/static/manager.js"></script>
</head>
<title>Manager Interface</title>
<div class="maincontainer">
    <div class="box">
        <div style="font-size:20px;font-weight:bold; font-family:poppins">
            <a href="/api/managerinterface"><img src="/static/addrecord.jpg" style="width:30px;"></a>
            <span style="font-size:20px;font-weight:bold; font-family:poppins; margin-left:35%;"> Manager's List</span>
        </div>

        <div id="ManagerData"></div>
        </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>